<div class="expanded row align-justify infobar-container controls-container">
  <div id="infobar" class="column infobar">
    <div class="row infobar-text 5player" style="display:none">
      <div class="small-1 columns rv_ib_race" id="map_label1">&nbsp;</div>
      <div class="small-3 columns rv_ib_nick" id="map1">&nbsp;</div>
      <div class="small-2 columns rv_ib_supply">SUPPLY</div>
      <div class="small-1 columns rv_ib_minerals">MINERALS</div>
      <div class="small-1 columns rv_ib_gas">GAS</div>
      <div class="small-1 columns rv_ib_worker">WORKERS</div>
      <div class="small-1 columns rv_ib_army">ARMY</div>
      <div class="small-2 columns rv_ib_apm">APM</div>
    </div>
    <div class="row infobar-player" id="infobar_row_player1">
      <div class="small-1 columns rv_ib_race" id="race1">&nbsp;</div>
      <div class="small-3 columns rv_ib_nick player_color1" id="nick1">-</div>
      <div class="small-2 columns rv_ib_supply" id="supply1">-</div>
      <div class="small-1 columns rv_ib_minerals" id="minerals1">-</div>
      <div class="small-1 columns rv_ib_gas" id="gas1">-</div>
      <div class="small-1 columns rv_ib_worker" id="workers1">-</div>
      <div class="small-1 columns rv_ib_army" id="army1">-</div>
      <div class="small-2 columns rv_ib_apm" id="apm1">-</div>
    </div>
    <div class="row infobar-text 2player">
      <div class="small-1 columns rv_ib_race" id="map_label2">&nbsp;</div>
      <div class="small-3 columns rv_ib_nick" id="map2">&nbsp;</div>
      <div class="small-2 columns rv_ib_supply">SUPPLY</div>
      <div class="small-1 columns rv_ib_minerals">MINERALS</div>
      <div class="small-1 columns rv_ib_gas">GAS</div>
      <div class="small-1 columns rv_ib_worker">WORKERS</div>
      <div class="small-1 columns rv_ib_army">ARMY</div>
      <div class="small-2 columns rv_ib_apm">APM</div>
    </div>
              <div class="row infobar-player per-player-info2" style="display:none">
        <div class="small-1 columns rv_ib_race" id="race2">&nbsp;</div>
        <div class="small-3 columns rv_ib_nick player_color2" id="nick2">-</div>
        <div class="small-2 columns rv_ib_supply" id="supply2">-</div>
        <div class="small-1 columns rv_ib_minerals" id="minerals2">-</div>
        <div class="small-1 columns rv_ib_gas" id="gas2">-</div>
        <div class="small-1 columns rv_ib_worker" id="workers2">-</div>
        <div class="small-1 columns rv_ib_army" id="army2">-</div>
        <div class="small-2 columns rv_ib_apm" id="apm2">-</div>
      </div>

              <div class="row infobar-player per-player-info3" style="display:none">
        <div class="small-1 columns rv_ib_race" id="race3">&nbsp;</div>
        <div class="small-3 columns rv_ib_nick player_color3" id="nick3">-</div>
        <div class="small-2 columns rv_ib_supply" id="supply3">-</div>
        <div class="small-1 columns rv_ib_minerals" id="minerals3">-</div>
        <div class="small-1 columns rv_ib_gas" id="gas3">-</div>
        <div class="small-1 columns rv_ib_worker" id="workers3">-</div>
        <div class="small-1 columns rv_ib_army" id="army3">-</div>
        <div class="small-2 columns rv_ib_apm" id="apm3">-</div>
      </div>

              <div class="row infobar-player per-player-info4" style="display:none">
        <div class="small-1 columns rv_ib_race" id="race4">&nbsp;</div>
        <div class="small-3 columns rv_ib_nick player_color4" id="nick4">-</div>
        <div class="small-2 columns rv_ib_supply" id="supply4">-</div>
        <div class="small-1 columns rv_ib_minerals" id="minerals4">-</div>
        <div class="small-1 columns rv_ib_gas" id="gas4">-</div>
        <div class="small-1 columns rv_ib_worker" id="workers4">-</div>
        <div class="small-1 columns rv_ib_army" id="army4">-</div>
        <div class="small-2 columns rv_ib_apm" id="apm4">-</div>
      </div>

              <div class="row infobar-player per-player-info5" style="display:none">
        <div class="small-1 columns rv_ib_race" id="race5">&nbsp;</div>
        <div class="small-3 columns rv_ib_nick player_color5" id="nick5">-</div>
        <div class="small-2 columns rv_ib_supply" id="supply5">-</div>
        <div class="small-1 columns rv_ib_minerals" id="minerals5">-</div>
        <div class="small-1 columns rv_ib_gas" id="gas5">-</div>
        <div class="small-1 columns rv_ib_worker" id="workers5">-</div>
        <div class="small-1 columns rv_ib_army" id="army5">-</div>
        <div class="small-2 columns rv_ib_apm" id="apm5">-</div>
      </div>

              <div class="row infobar-player per-player-info6" style="display:none">
        <div class="small-1 columns rv_ib_race" id="race6">&nbsp;</div>
        <div class="small-3 columns rv_ib_nick player_color6" id="nick6">-</div>
        <div class="small-2 columns rv_ib_supply" id="supply6">-</div>
        <div class="small-1 columns rv_ib_minerals" id="minerals6">-</div>
        <div class="small-1 columns rv_ib_gas" id="gas6">-</div>
        <div class="small-1 columns rv_ib_worker" id="workers6">-</div>
        <div class="small-1 columns rv_ib_army" id="army6">-</div>
        <div class="small-2 columns rv_ib_apm" id="apm6">-</div>
      </div>

              <div class="row infobar-player per-player-info7" style="display:none">
        <div class="small-1 columns rv_ib_race" id="race7">&nbsp;</div>
        <div class="small-3 columns rv_ib_nick player_color7" id="nick7">-</div>
        <div class="small-2 columns rv_ib_supply" id="supply7">-</div>
        <div class="small-1 columns rv_ib_minerals" id="minerals7">-</div>
        <div class="small-1 columns rv_ib_gas" id="gas7">-</div>
        <div class="small-1 columns rv_ib_worker" id="workers7">-</div>
        <div class="small-1 columns rv_ib_army" id="army7">-</div>
        <div class="small-2 columns rv_ib_apm" id="apm7">-</div>
      </div>

              <div class="row infobar-player per-player-info8" style="display:none">
        <div class="small-1 columns rv_ib_race" id="race8">&nbsp;</div>
        <div class="small-3 columns rv_ib_nick player_color8" id="nick8">-</div>
        <div class="small-2 columns rv_ib_supply" id="supply8">-</div>
        <div class="small-1 columns rv_ib_minerals" id="minerals8">-</div>
        <div class="small-1 columns rv_ib_gas" id="gas8">-</div>
        <div class="small-1 columns rv_ib_worker" id="workers8">-</div>
        <div class="small-1 columns rv_ib_army" id="army8">-</div>
        <div class="small-2 columns rv_ib_apm" id="apm8">-</div>
      </div>

          </div>

  <div class="shrink column replay-control">

    <div class="row rv-rc-controls">
      <div class="small-3 columns volume d-flex justify-content-center">
        <div id="volume-slider-wrapper">
          <div id="volume-slider" class="slider vertical" data-slider data-initial-start='50' data-end='100' data-vertical="true">
            <span id="volume-slider-handle" class="slider-handle" data-slider-handle role="slider" tabindex="1" aria-controls="volumeOutput"></span>
            <span class="slider-fill" data-slider-fill></span>
            <input type="hidden" id="volumeOutput">
          </div>
        </div>
        <button id="rv-rc-sound" type="button" class="rv-rc-sound"></button>
      </div>
      <div class="small-3 columns d-flex justify-content-center">
        <button id="rv-rc-play" type="button" class="rv-rc-pause"></button>
      </div>
      <div class="small-3 columns d-flex justify-content-center">
        <button id="rv-rc-slower" type="button" class="rv-rc-slower"></button>
      </div>
      <div class="small-3 columns d-flex justify-content-center">
        <button id="rv-rc-faster" type="button" class="rv-rc-faster"></button>
      </div>
    </div>
    <div class="row rv-rc-timer">
      <div id="rv-rc-timer" class="col-md-6 columns">-</div>
      <div id="rv-rc-speed" class="col-md-6 columns">-</div>
    </div>
    <div class="row rv-rc-progress-bar">
      <div class="column">
        <div id="game-slider" class="slider" data-slider data-initial-start="0" data-end="200">
          <span id="game-slider-handle" class="slider-handle"  data-slider-handle role="slider" tabindex="1" aria-controls="sliderOutput"></span>
            <span class="slider-fill" data-slider-fill></span>
            <input type="hidden" id="sliderOutput">
        </div>
      </div>
    </div>
  </div>
</div>
