
.sidebar {
  width: 100%;
  float: left;
  padding-left: 0.625rem;
  padding-right: 0.625rem; }
  @media screen and (min-width: 40em) {
    .sidebar {
      padding-left: 0.9375rem;
      padding-right: 0.9375rem; } }
  .sidebar:last-child:not(:first-child) {
    float: right; }
  @media screen and (min-width: 40em) {
    .sidebar {
      width: 33.33333%;
      float: left;
      padding-left: 0.625rem;
      padding-right: 0.625rem;
      margin-top: 1rem; } }
  @media screen and (min-width: 40em) and (min-width: 40em) {
    .sidebar {
      padding-left: 0.9375rem;
      padding-right: 0.9375rem; } }
  @media screen and (min-width: 40em) {
      .sidebar:last-child:not(:first-child) {
        float: right; } }

body#tinymce {
  height: auto;
  max-width: 75rem;
  padding: 1.25rem !important; }

.sites-button {
  background: #FF6908;
  font-size: 1.25rem;
  font-weight: bold;
  -webkit-box-shadow: 0 -2px 0 rgba(0, 0, 0, 0.2) inset;
          box-shadow: 0 -2px 0 rgba(0, 0, 0, 0.2) inset;
  border-radius: 3px;
  border: none; }

#featured-hero {
  -webkit-background-size: cover;
          background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  height: 6.25rem; }
  @media screen and (min-width: 40em) {
    #featured-hero {
      height: 12.5rem; } }
  @media screen and (min-width: 75em) {
    #featured-hero {
      height: 25rem; } }

.dotted, .section-divider hr {
  border-style: dashed;
  margin: 2rem 0; }

[data-whatinput="mouse"] a:focus, button:focus [data-whatinput="touch"] a:focus, button:focus {
  outline: none; }

.page-template-replay-viewer, .container, .widget_replay_viewer_widget, .widget_replay_viewer_staging, #replay-viewer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1; }

.canvas-area {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  position: relative;
}

#canvas {
  display: block;
  padding: 0px 0px 0px 0px;
  margin-left: auto;
  margin-right: auto;
  border: 4px dashed gray; }

.info_tab {
  position: absolute;
  display: none;
  top: 50px;
  left: 60px;
  background-color: rgba(46, 46, 52, 0.3); }
  .info_tab .tabs {
    border: 1px solid #181b22;
    background-color: #2e2e34; }
    .info_tab .tabs .tabs-title > a {
      padding: 0.2rem 0.8rem 0.2rem 0.8rem;
      font-size: 1.0rem;
      color: white;
      background-color: #2e2e34; }
    .info_tab .tabs .is-active > a {
      background-color: #181b22; }
  .info_tab .tabs-content {
    background-color: rgba(46, 46, 52, 0.3);
    border: 1px solid #181b22; }
    .info_tab .tabs-content .tabs-panel {
      color: white;
      padding: 3px;
      background-color: rgba(46, 46, 52, 0.3); }
      .info_tab .tabs-content .tabs-panel div {
        margin-bottom: 1px; }
        .info_tab .tabs-content .tabs-panel div .info_tab_player_color {
          vertical-align: top;
          display: inline-block;
          height: 40px;
          width: 10px;
          background-color: white;
          border-left: 10px solid #2e2e34; }
        .info_tab .tabs-content .tabs-panel div .info_tab_content, .info_tab .tabs-content .tabs-panel div .info_tab_content > div {
          vertical-align: top;
          display: inline-block;
          position: relative; }
          .info_tab .tabs-content .tabs-panel div .info_tab_content img, .info_tab .tabs-content .tabs-panel div .info_tab_content > div img {
            margin: 0;
            padding: 0;
            height: 34px;
            width: 36px; }
          .info_tab .tabs-content .tabs-panel div .info_tab_content span, .info_tab .tabs-content .tabs-panel div .info_tab_content > div span {
            position: absolute;
            bottom: 6px;
            right: 0px;
            width: 1.0rem;
            text-align: center;
            color: white;
            background-color: #2e2e34; }
          .info_tab .tabs-content .tabs-panel div .info_tab_content .army_counter_bar, .info_tab .tabs-content .tabs-panel div .info_tab_content > div .army_counter_bar {
            text-align: center;
            height: 1rem;
            width: 100%; }
          .info_tab .tabs-content .tabs-panel div .info_tab_content .prod_prog_bar, .info_tab .tabs-content .tabs-panel div .info_tab_content > div .prod_prog_bar {
            height: 5px;
            width: 0px;
            background-color: #ffcc33; }
        .info_tab .tabs-content .tabs-panel div .info_tab_content > div {
          display: none; }

#footer-container {
  display: none; }

.infobar-container {
  padding: 0px 0px 0px 0px;
  margin: 0px 0px 0px 0px;
  background-color: #2e2e34; }

.infobar {
  font-size: 1.25rem;
  border: none;
  color: white; }
  .infobar .infobar-text {
    font-size: 0.8rem;
    background-color: #181b22; }
    .infobar .infobar-text div {
      display: block;
      padding: 1px 5px 1px 5px; }
  .infobar .infobar-player {
    color: white;
    background-color: #2e2e34; }
    .infobar .infobar-player div {
      display: block;
      padding: 5px 5px 5px 5px; }
    .infobar .infobar-player .rv_ib_race {
      background-image: none;
      background-position: center;
      -webkit-background-size: contain;
              background-size: contain;
      background-repeat: no-repeat;
      height: 100%; }
    .infobar .infobar-player .rv_ib_supply {
      color: #FFFFFF; }
    .infobar .infobar-player .rv_ib_nick {
      color: #FFFFFF;
      border-left: 20px solid #2e2e34; }
    .infobar .infobar-player .rv_ib_minerals {
      color: #54b9b1; }
    .infobar .infobar-player .rv_ib_gas {
      color: #6ed279; }
    .infobar .infobar-player .rv_ib_worker {
      color: #e6fb73; }
    .infobar .infobar-player .rv_ib_army {
      color: #b07042; }
    .infobar .infobar-player .rv_ib_apm {
      color: #9509ee; }

#volume-slider-wrapper {
  position: absolute;
  bottom: 38px;
  z-index: 1;
  margin: auto;
  padding-bottom: 0px;
  padding-top: 20px;
  width: 40px; }
  #volume-slider-wrapper div {
    position: relative;
    right: 6px; }

#front-hero {
  background: url("http://www.openbw.com/wp-content/uploads/2016/12/bw_cover2.jpg") bottom center;
  -webkit-background-size: cover;
          background-size: cover;
  background-position: bottom;
  padding: 4.0625rem 0;
  margin: 0 0 2rem;
  height: auto;
  position: relative;
  text-align: left; }
  #front-hero .marketing {
    max-width: 75rem;
    margin-left: auto;
    margin-right: auto;
    max-width: 55rem; }
    #front-hero .marketing::before, #front-hero .marketing::after {
      content: ' ';
      display: table; }
    #front-hero .marketing::after {
      clear: both; }
  @media screen and (min-width: 40em) {
    #front-hero {
      background: url("http://www.openbw.com/wp-content/uploads/2016/12/bw_cover2.jpg") bottom center;
      -webkit-background-size: cover;
              background-size: cover;
      background-position: center;
      height: 42.8125rem;
      margin: 0 0 4.5rem; } }
  #front-hero #watch {
    width: 58.33333%;
    float: left;
    padding-left: 0.625rem;
    padding-right: 0.625rem;
    position: relative;
    left: -41.66667%; }
    @media screen and (min-width: 40em) {
      #front-hero #watch {
        padding-left: 0.9375rem;
        padding-right: 0.9375rem; } }
    #front-hero #watch:last-child:not(:first-child) {
      float: right; }
    @media screen and (min-width: 40em) {
      #front-hero #watch {
        width: 100%;
        float: left;
        padding-left: 0.625rem;
        padding-right: 0.625rem;
        position: relative;
        left: 0%; } }
  @media screen and (min-width: 40em) and (min-width: 40em) {
    #front-hero #watch {
      padding-left: 0.9375rem;
      padding-right: 0.9375rem; } }
    @media screen and (min-width: 40em) {
        #front-hero #watch:last-child:not(:first-child) {
          float: right; } }
    #front-hero #watch section {
      display: inline; }
    #front-hero #watch a {
      color: #B4C9D1;
      cursor: pointer;
      font-weight: 400;
      margin-right: 1.25rem; }
    #front-hero #watch a:hover {
      color: #fff; }
    #front-hero #watch #stargazers :before, #front-hero #watch #youtube :before, #front-hero #watch #twitch :before, #front-hero #watch #reddit :before, #front-hero #watch #twitter :before {
      font-family: FontAwesome;
      font-style: normal;
      font-weight: normal;
      text-decoration: inherit;
      color: #B4C9D1;
      margin-right: 0.5rem; }
    #front-hero #watch #stargazers :before {
      content: "\f09b"; }
    #front-hero #watch #youtube :before {
      content: "\f167"; }
    #front-hero #watch #twitch :before {
      content: "\f1e8"; }
    #front-hero #watch #reddit :before {
      content: "\f1a1"; }
    #front-hero #watch #twitter :before {
      content: "\f099"; }
  #front-hero .tagline {
    width: 66.66667%;
    float: left;
    padding-left: 0.625rem;
    padding-right: 0.625rem; }
    @media screen and (min-width: 40em) {
      #front-hero .tagline {
        padding-left: 0.9375rem;
        padding-right: 0.9375rem; } }
    #front-hero .tagline:last-child:not(:first-child) {
      float: right; }
    @media screen and (min-width: 40em) {
      #front-hero .tagline {
        width: 41.66667%;
        float: left;
        padding-left: 0.625rem;
        padding-right: 0.625rem;
        padding-top: 6rem; } }
  @media screen and (min-width: 40em) and (min-width: 40em) {
    #front-hero .tagline {
      padding-left: 0.9375rem;
      padding-right: 0.9375rem; } }
    @media screen and (min-width: 40em) {
        #front-hero .tagline:last-child:not(:first-child) {
          float: right; } }
  #front-hero h1 {
    color: #fff;
    font-weight: 500;
    font-size: 2.2rem; }
    @media screen and (min-width: 40em) {
      #front-hero h1 {
        font-size: 2.875rem; } }
  #front-hero h4 {
    color: #fefefe;
    font-weight: 300;
    font-size: 1.3125rem; }
  #front-hero .download {
    margin-top: 1.25rem; }

.intro {
  max-width: 75rem;
  margin-left: auto;
  margin-right: auto; }
  .intro::before, .intro::after {
    content: ' ';
    display: table; }
  .intro::after {
    clear: both; }
  .intro .fp-intro {
    width: 100%;
    float: left;
    padding-left: 0.625rem;
    padding-right: 0.625rem; }
    @media screen and (min-width: 40em) {
      .intro .fp-intro {
        padding-left: 0.9375rem;
        padding-right: 0.9375rem; } }
    .intro .fp-intro:last-child:not(:first-child) {
      float: right; }
    @media screen and (min-width: 40em) {
      .intro .fp-intro {
        width: 83.33333%;
        float: left;
        padding-left: 0.625rem;
        padding-right: 0.625rem;
        margin-left: 8.33333%; } }
  @media screen and (min-width: 40em) and (min-width: 40em) {
    .intro .fp-intro {
      padding-left: 0.9375rem;
      padding-right: 0.9375rem; } }
    @media screen and (min-width: 40em) {
        .intro .fp-intro:last-child:not(:first-child) {
          float: right; }
        .intro .fp-intro h2 {
          font-weight: 300;
          margin-bottom: 1.5rem; }
        .intro .fp-intro h4 {
          font-size: 1.125rem;
          line-height: 1.6;
          color: #777;
          margin-bottom: 2rem; } }

.section-divider {
  max-width: 75rem;
  margin-left: auto;
  margin-right: auto; }
  .section-divider::before, .section-divider::after {
    content: ' ';
    display: table; }
  .section-divider::after {
    clear: both; }
  .section-divider hr {
    width: 100%;
    float: left;
    padding-left: 0.625rem;
    padding-right: 0.625rem;
    -webkit-box-sizing: border-box;
            box-sizing: border-box; }
    @media screen and (min-width: 40em) {
      .section-divider hr {
        padding-left: 0.9375rem;
        padding-right: 0.9375rem; } }
    .section-divider hr:last-child:not(:first-child) {
      float: right; }

.benefits {
  max-width: 75rem;
  margin-left: auto;
  margin-right: auto;
  text-align: center; }
  .benefits::before, .benefits::after {
    content: ' ';
    display: table; }
  .benefits::after {
    clear: both; }
  .benefits header {
    width: 100%;
    float: left;
    padding-left: 0.625rem;
    padding-right: 0.625rem; }
    @media screen and (min-width: 40em) {
      .benefits header {
        padding-left: 0.9375rem;
        padding-right: 0.9375rem; } }
    .benefits header:last-child:not(:first-child) {
      float: right; }
    .benefits header h2 {
      font-weight: 300; }
    .benefits header h4 {
      font-size: 1.125rem;
      line-height: 1.6;
      color: #777; }
  .benefits .semantic,
  .benefits .responsive,
  .benefits .customizable,
  .benefits .professional {
    width: 100%;
    float: left;
    padding-left: 0.625rem;
    padding-right: 0.625rem; }
    @media screen and (min-width: 40em) {
      .benefits .semantic,
      .benefits .responsive,
      .benefits .customizable,
      .benefits .professional {
        padding-left: 0.9375rem;
        padding-right: 0.9375rem; } }
    .benefits .semantic:last-child:not(:first-child),
    .benefits .responsive:last-child:not(:first-child),
    .benefits .customizable:last-child:not(:first-child),
    .benefits .professional:last-child:not(:first-child) {
      float: right; }
    @media screen and (min-width: 40em) {
      .benefits .semantic,
      .benefits .responsive,
      .benefits .customizable,
      .benefits .professional {
        width: 25%;
        float: left;
        padding-left: 0.625rem;
        padding-right: 0.625rem; } }
  @media screen and (min-width: 40em) and (min-width: 40em) {
    .benefits .semantic,
    .benefits .responsive,
    .benefits .customizable,
    .benefits .professional {
      padding-left: 0.9375rem;
      padding-right: 0.9375rem; } }
    @media screen and (min-width: 40em) {
        .benefits .semantic:last-child:not(:first-child),
        .benefits .responsive:last-child:not(:first-child),
        .benefits .customizable:last-child:not(:first-child),
        .benefits .professional:last-child:not(:first-child) {
          float: right; } }
    .benefits .semantic img,
    .benefits .responsive img,
    .benefits .customizable img,
    .benefits .professional img {
      padding: 1.25rem;
      margin: 1rem auto 0 auto; }
    .benefits .semantic h3,
    .benefits .responsive h3,
    .benefits .customizable h3,
    .benefits .professional h3 {
      color: #0a0a0a;
      font-weight: 300;
      font-size: 1.75rem; }
    .benefits .semantic p,
    .benefits .responsive p,
    .benefits .customizable p,
    .benefits .professional p {
      font-size: 0.9375rem; }
  .benefits .why-foundation {
    max-width: 75rem;
    margin-left: auto;
    margin-right: auto;
    width: 100%;
    float: left;
    padding-left: 0.625rem;
    padding-right: 0.625rem;
    margin-top: 4rem; }
    .benefits .why-foundation::before, .benefits .why-foundation::after {
      content: ' ';
      display: table; }
    .benefits .why-foundation::after {
      clear: both; }
    @media screen and (min-width: 40em) {
      .benefits .why-foundation {
        padding-left: 0.9375rem;
        padding-right: 0.9375rem; } }
    .benefits .why-foundation:last-child:not(:first-child) {
      float: right; }

#kitchen-sink {
  max-width: 75rem;
  margin-left: auto;
  margin-right: auto;
  margin-top: 3rem; }
  #kitchen-sink::before, #kitchen-sink::after {
    content: ' ';
    display: table; }
  #kitchen-sink::after {
    clear: both; }
  #kitchen-sink header {
    width: 100%;
    float: left;
    padding-left: 0.625rem;
    padding-right: 0.625rem; }
    @media screen and (min-width: 40em) {
      #kitchen-sink header {
        padding-left: 0.9375rem;
        padding-right: 0.9375rem; } }
    #kitchen-sink header:last-child:not(:first-child) {
      float: right; }
    #kitchen-sink header .lead {
      font-size: 125%;
      line-height: 1.6; }
  #kitchen-sink #components {
    width: 100%;
    float: left;
    padding-left: 0.625rem;
    padding-right: 0.625rem; }
    #kitchen-sink #components hr {
      margin: 3rem 0; }
    @media screen and (min-width: 40em) {
      #kitchen-sink #components {
        padding-left: 0.9375rem;
        padding-right: 0.9375rem; } }
    #kitchen-sink #components:last-child:not(:first-child) {
      float: right; }
    @media screen and (min-width: 64em) {
      #kitchen-sink #components {
        width: 75%;
        float: left;
        padding-left: 0.625rem;
        padding-right: 0.625rem; } }
  @media screen and (min-width: 64em) and (min-width: 40em) {
    #kitchen-sink #components {
      padding-left: 0.9375rem;
      padding-right: 0.9375rem; } }
    @media screen and (min-width: 64em) {
        #kitchen-sink #components:last-child:not(:first-child) {
          float: right; } }
  #kitchen-sink #kitchen-sink-nav {
    display: none; }
    @media screen and (min-width: 64em) {
      #kitchen-sink #kitchen-sink-nav {
        width: 25%;
        float: left;
        padding-left: 0.625rem;
        padding-right: 0.625rem;
        display: block;
        float: right; } }
  @media screen and (min-width: 64em) and (min-width: 40em) {
    #kitchen-sink #kitchen-sink-nav {
      padding-left: 0.9375rem;
      padding-right: 0.9375rem; } }
    @media screen and (min-width: 64em) {
        #kitchen-sink #kitchen-sink-nav:last-child:not(:first-child) {
          float: right; }
        #kitchen-sink #kitchen-sink-nav .docs-sub-menu {
          font-size: 0.85rem;
          margin-top: 1rem; }
        #kitchen-sink #kitchen-sink-nav .docs-menu-title {
          text-transform: uppercase;
          font-size: 0.75rem;
          color: #999;
          font-weight: bold;
          line-height: 1;
          padding-left: 0.9rem;
          margin-bottom: 0.5rem;
          border-top: 1px solid #e9e9e9;
          margin-top: 1rem;
          padding-top: 1.5rem; }
        #kitchen-sink #kitchen-sink-nav .docs-toc {
          width: 100%;
          padding-left: 4rem;
          padding-right: 1rem; }
        #kitchen-sink #kitchen-sink-nav .docs-toc .active {
          background: #2199e8;
          color: white; }
        #kitchen-sink #kitchen-sink-nav .docs-toc .docs-sub-menu:first-child .docs-menu-title {
          margin-top: 0;
          border-top: 0;
          padding-top: 0; } }
  #kitchen-sink .row.display {
    background: #eee;
    font-size: 11px;
    margin-bottom: 10px;
    line-height: 2rem;
    border: solid 1px #c6c6c6;
    margin-left: 0 !important;
    margin-right: 0 !important; }
    #kitchen-sink .row.display .columns:nth-child(2), #kitchen-sink .row.display .columns.small-centered, #kitchen-sink .row.display .columns.large-centered {
      background: #e1e1e1; }

#page {
  max-width: 75rem;
  margin-left: auto;
  margin-right: auto;
  margin-top: 3rem; }
  #page::before, #page::after {
    content: ' ';
    display: table; }
  #page::after {
    clear: both; }
  #page .main-content {
    width: 100%;
    float: left;
    padding-left: 0.625rem;
    padding-right: 0.625rem; }
    @media screen and (min-width: 40em) {
      #page .main-content {
        padding-left: 0.9375rem;
        padding-right: 0.9375rem; } }
    #page .main-content:last-child:not(:first-child) {
      float: right; }
    @media screen and (min-width: 40em) {
      #page .main-content {
        width: 66.66667%;
        float: left;
        padding-left: 0.625rem;
        padding-right: 0.625rem; } }
  @media screen and (min-width: 40em) and (min-width: 40em) {
    #page .main-content {
      padding-left: 0.9375rem;
      padding-right: 0.9375rem; } }
    @media screen and (min-width: 40em) {
        #page .main-content:last-child:not(:first-child) {
          float: right; } }

#page-sidebar-left {
  max-width: 75rem;
  margin-left: auto;
  margin-right: auto;
  margin-top: 3rem; }
  #page-sidebar-left::before, #page-sidebar-left::after {
    content: ' ';
    display: table; }
  #page-sidebar-left::after {
    clear: both; }
  #page-sidebar-left .main-content {
    width: 100%;
    float: left;
    padding-left: 0.625rem;
    padding-right: 0.625rem; }
    @media screen and (min-width: 40em) {
      #page-sidebar-left .main-content {
        padding-left: 0.9375rem;
        padding-right: 0.9375rem; } }
    #page-sidebar-left .main-content:last-child:not(:first-child) {
      float: right; }
    @media screen and (min-width: 40em) {
      #page-sidebar-left .main-content {
        width: 66.66667%;
        float: left;
        padding-left: 0.625rem;
        padding-right: 0.625rem;
        position: relative;
        left: 33.33333%; } }
  @media screen and (min-width: 40em) and (min-width: 40em) {
    #page-sidebar-left .main-content {
      padding-left: 0.9375rem;
      padding-right: 0.9375rem; } }
    @media screen and (min-width: 40em) {
        #page-sidebar-left .main-content:last-child:not(:first-child) {
          float: right; } }
  #page-sidebar-left .sidebar {
    width: 100%;
    float: left;
    padding-left: 0.625rem;
    padding-right: 0.625rem; }
    @media screen and (min-width: 40em) {
      #page-sidebar-left .sidebar {
        padding-left: 0.9375rem;
        padding-right: 0.9375rem; } }
    #page-sidebar-left .sidebar:last-child:not(:first-child) {
      float: right; }
    @media screen and (min-width: 40em) {
      #page-sidebar-left .sidebar {
        width: 33.33333%;
        float: left;
        padding-left: 0.625rem;
        padding-right: 0.625rem;
        position: relative;
        left: -66.66667%;
        margin-top: 1rem; } }
  @media screen and (min-width: 40em) and (min-width: 40em) {
    #page-sidebar-left .sidebar {
      padding-left: 0.9375rem;
      padding-right: 0.9375rem; } }
    @media screen and (min-width: 40em) {
        #page-sidebar-left .sidebar:last-child:not(:first-child) {
          float: right; } }

#page-full-width {
  max-width: 75rem;
  margin-left: auto;
  margin-right: auto;
  margin-top: 3rem; }
  #page-full-width::before, #page-full-width::after {
    content: ' ';
    display: table; }
  #page-full-width::after {
    clear: both; }
  #page-full-width .main-content {
    width: 100%;
    float: left;
    padding-left: 0.625rem;
    padding-right: 0.625rem; }
    @media screen and (min-width: 40em) {
      #page-full-width .main-content {
        padding-left: 0.9375rem;
        padding-right: 0.9375rem; } }
    #page-full-width .main-content:last-child:not(:first-child) {
      float: right; }

#single-post {
  max-width: 75rem;
  margin-left: auto;
  margin-right: auto;
  margin-top: 3rem; }
  #single-post::before, #single-post::after {
    content: ' ';
    display: table; }
  #single-post::after {
    clear: both; }
  #single-post .main-content {
    width: 100%;
    float: left;
    padding-left: 0.625rem;
    padding-right: 0.625rem; }
    @media screen and (min-width: 40em) {
      #single-post .main-content {
        padding-left: 0.9375rem;
        padding-right: 0.9375rem; } }
    #single-post .main-content:last-child:not(:first-child) {
      float: right; }
    @media screen and (min-width: 40em) {
      #single-post .main-content {
        width: 66.66667%;
        float: left;
        padding-left: 0.625rem;
        padding-right: 0.625rem; } }
  @media screen and (min-width: 40em) and (min-width: 40em) {
    #single-post .main-content {
      padding-left: 0.9375rem;
      padding-right: 0.9375rem; } }
    @media screen and (min-width: 40em) {
        #single-post .main-content:last-child:not(:first-child) {
          float: right; } }

/*# sourceMappingURL=foundation.css.map */

.slider {
  position: relative;
  height: 0.5rem;
  margin-top: 1.25rem;
  margin-bottom: 2.25rem;
  background-color: #e6e6e6;
  cursor: pointer;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  -ms-touch-action: none;
      touch-action: none; }

.slider-fill {
  position: absolute;
  top: 0;
  left: 0;
  display: inline-block;
  max-width: 100%;
  height: 0.5rem;
  background-color: #cacaca;
  -webkit-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out; }
  .slider-fill.is-dragging {
    -webkit-transition: all 0s linear;
    transition: all 0s linear; }

.slider-handle {
  position: absolute;
  top: 50%;
  -webkit-transform: translateY(-50%);
      -ms-transform: translateY(-50%);
          transform: translateY(-50%);
  position: absolute;
  left: 0;
  z-index: 1;
  display: inline-block;
  width: 1.4rem;
  height: 1.4rem;
  background-color: #2199e8;
  -webkit-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
  -ms-touch-action: manipulation;
      touch-action: manipulation;
  border-radius: 0; }
  [data-whatinput='mouse'] .slider-handle {
    outline: 0; }
  .slider-handle:hover {
    background-color: #1583cc; }
  .slider-handle.is-dragging {
    -webkit-transition: all 0s linear;
    transition: all 0s linear; }

.slider.disabled,
.slider[disabled] {
  opacity: 0.25;
  cursor: not-allowed; }

.slider.vertical {
  display: inline-block;
  width: 0.5rem;
  height: 12.5rem;
  margin: 0 1.25rem;
  -webkit-transform: scale(1, -1);
      -ms-transform: scale(1, -1);
          transform: scale(1, -1); }
  .slider.vertical .slider-fill {
    top: 0;
    width: 0.5rem;
    max-height: 100%; }
  .slider.vertical .slider-handle {
    position: absolute;
    top: 0;
    left: 50%;
    width: 1.4rem;
    height: 1.4rem;
    -webkit-transform: translateX(-50%);
        -ms-transform: translateX(-50%);
            transform: translateX(-50%); }

/* Other foundation stuff */
.row {
  max-width: 75rem;
  margin-left: auto;
  margin-right: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row wrap;
          flex-flow: row wrap; }
  .row .row {
    margin-left: -0.625rem;
    margin-right: -0.625rem; }
    @media screen and (min-width: 40em) {
      .row .row {
        margin-left: -0.9375rem;
        margin-right: -0.9375rem; } }
  .row.expanded {
    max-width: none; }
  .row.collapse > .column, .row.collapse > .columns {
    padding-left: 0;
    padding-right: 0; }
  .row.is-collapse-child,
  .row.collapse > .column > .row,
  .row.collapse > .columns > .row {
    margin-left: 0;
    margin-right: 0; }

.column, .columns {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 0px;
          flex: 1 1 0px;
  padding-left: 0.625rem;
  padding-right: 0.625rem;
  min-width: initial; }
  @media screen and (min-width: 40em) {
    .column, .columns {
      padding-left: 0.9375rem;
      padding-right: 0.9375rem; } }

.column.row.row, .row.row.columns {
  float: none;
  display: block; }

.row .column.row.row, .row .row.row.columns {
  padding-left: 0;
  padding-right: 0;
  margin-left: 0;
  margin-right: 0; }

.small-1 {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 8.33333%;
          flex: 0 0 8.33333%;
  max-width: 8.33333%; }

.small-offset-0 {
  margin-left: 0%; }

.small-2 {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 16.66667%;
          flex: 0 0 16.66667%;
  max-width: 16.66667%; }

.small-offset-1 {
  margin-left: 8.33333%; }

.small-3 {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 25%;
          flex: 0 0 25%;
  max-width: 25%; }

.small-offset-2 {
  margin-left: 16.66667%; }

.small-4 {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 33.33333%;
          flex: 0 0 33.33333%;
  max-width: 33.33333%; }

.small-offset-3 {
  margin-left: 25%; }

.small-5 {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 41.66667%;
          flex: 0 0 41.66667%;
  max-width: 41.66667%; }

.small-offset-4 {
  margin-left: 33.33333%; }

.small-6 {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 50%;
          flex: 0 0 50%;
  max-width: 50%; }

.small-offset-5 {
  margin-left: 41.66667%; }

.small-7 {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 58.33333%;
          flex: 0 0 58.33333%;
  max-width: 58.33333%; }

.small-offset-6 {
  margin-left: 50%; }

.small-8 {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 66.66667%;
          flex: 0 0 66.66667%;
  max-width: 66.66667%; }

.small-offset-7 {
  margin-left: 58.33333%; }

.small-9 {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 75%;
          flex: 0 0 75%;
  max-width: 75%; }

.small-offset-8 {
  margin-left: 66.66667%; }

.small-10 {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 83.33333%;
          flex: 0 0 83.33333%;
  max-width: 83.33333%; }

.small-offset-9 {
  margin-left: 75%; }

.small-11 {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 91.66667%;
          flex: 0 0 91.66667%;
  max-width: 91.66667%; }

.small-offset-10 {
  margin-left: 83.33333%; }

.small-12 {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 100%;
          flex: 0 0 100%;
  max-width: 100%; }

.small-offset-11 {
  margin-left: 91.66667%; }

.small-order-1 {
  -webkit-box-ordinal-group: 2;
      -ms-flex-order: 1;
          order: 1; }

.small-order-2 {
  -webkit-box-ordinal-group: 3;
      -ms-flex-order: 2;
          order: 2; }

.small-order-3 {
  -webkit-box-ordinal-group: 4;
      -ms-flex-order: 3;
          order: 3; }

.small-order-4 {
  -webkit-box-ordinal-group: 5;
      -ms-flex-order: 4;
          order: 4; }

.small-order-5 {
  -webkit-box-ordinal-group: 6;
      -ms-flex-order: 5;
          order: 5; }

.small-order-6 {
  -webkit-box-ordinal-group: 7;
      -ms-flex-order: 6;
          order: 6; }

.small-up-1 {
  -ms-flex-wrap: wrap;
      flex-wrap: wrap; }
  .small-up-1 > .column, .small-up-1 > .columns {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 100%;
            flex: 0 0 100%;
    max-width: 100%; }

.small-up-2 {
  -ms-flex-wrap: wrap;
      flex-wrap: wrap; }
  .small-up-2 > .column, .small-up-2 > .columns {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 50%;
            flex: 0 0 50%;
    max-width: 50%; }

.small-up-3 {
  -ms-flex-wrap: wrap;
      flex-wrap: wrap; }
  .small-up-3 > .column, .small-up-3 > .columns {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 33.33333%;
            flex: 0 0 33.33333%;
    max-width: 33.33333%; }

.small-up-4 {
  -ms-flex-wrap: wrap;
      flex-wrap: wrap; }
  .small-up-4 > .column, .small-up-4 > .columns {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 25%;
            flex: 0 0 25%;
    max-width: 25%; }

.small-up-5 {
  -ms-flex-wrap: wrap;
      flex-wrap: wrap; }
  .small-up-5 > .column, .small-up-5 > .columns {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 20%;
            flex: 0 0 20%;
    max-width: 20%; }

.small-up-6 {
  -ms-flex-wrap: wrap;
      flex-wrap: wrap; }
  .small-up-6 > .column, .small-up-6 > .columns {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 16.66667%;
            flex: 0 0 16.66667%;
    max-width: 16.66667%; }

.small-up-7 {
  -ms-flex-wrap: wrap;
      flex-wrap: wrap; }
  .small-up-7 > .column, .small-up-7 > .columns {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 14.28571%;
            flex: 0 0 14.28571%;
    max-width: 14.28571%; }

.small-up-8 {
  -ms-flex-wrap: wrap;
      flex-wrap: wrap; }
  .small-up-8 > .column, .small-up-8 > .columns {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 12.5%;
            flex: 0 0 12.5%;
    max-width: 12.5%; }

.small-collapse > .column, .small-collapse > .columns {
  padding-left: 0;
  padding-right: 0; }

.small-uncollapse > .column, .small-uncollapse > .columns {
  padding-left: 0.625rem;
  padding-right: 0.625rem; }

@media screen and (min-width: 40em) {
  .medium-1 {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 8.33333%;
            flex: 0 0 8.33333%;
    max-width: 8.33333%; }
  .medium-offset-0 {
    margin-left: 0%; }
  .medium-2 {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 16.66667%;
            flex: 0 0 16.66667%;
    max-width: 16.66667%; }
  .medium-offset-1 {
    margin-left: 8.33333%; }
  .medium-3 {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 25%;
            flex: 0 0 25%;
    max-width: 25%; }
  .medium-offset-2 {
    margin-left: 16.66667%; }
  .medium-4 {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 33.33333%;
            flex: 0 0 33.33333%;
    max-width: 33.33333%; }
  .medium-offset-3 {
    margin-left: 25%; }
  .medium-5 {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 41.66667%;
            flex: 0 0 41.66667%;
    max-width: 41.66667%; }
  .medium-offset-4 {
    margin-left: 33.33333%; }
  .medium-6 {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 50%;
            flex: 0 0 50%;
    max-width: 50%; }
  .medium-offset-5 {
    margin-left: 41.66667%; }
  .medium-7 {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 58.33333%;
            flex: 0 0 58.33333%;
    max-width: 58.33333%; }
  .medium-offset-6 {
    margin-left: 50%; }
  .medium-8 {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 66.66667%;
            flex: 0 0 66.66667%;
    max-width: 66.66667%; }
  .medium-offset-7 {
    margin-left: 58.33333%; }
  .medium-9 {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 75%;
            flex: 0 0 75%;
    max-width: 75%; }
  .medium-offset-8 {
    margin-left: 66.66667%; }
  .medium-10 {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 83.33333%;
            flex: 0 0 83.33333%;
    max-width: 83.33333%; }
  .medium-offset-9 {
    margin-left: 75%; }
  .medium-11 {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 91.66667%;
            flex: 0 0 91.66667%;
    max-width: 91.66667%; }
  .medium-offset-10 {
    margin-left: 83.33333%; }
  .medium-12 {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 100%;
            flex: 0 0 100%;
    max-width: 100%; }
  .medium-offset-11 {
    margin-left: 91.66667%; }
  .medium-order-1 {
    -webkit-box-ordinal-group: 2;
        -ms-flex-order: 1;
            order: 1; }
  .medium-order-2 {
    -webkit-box-ordinal-group: 3;
        -ms-flex-order: 2;
            order: 2; }
  .medium-order-3 {
    -webkit-box-ordinal-group: 4;
        -ms-flex-order: 3;
            order: 3; }
  .medium-order-4 {
    -webkit-box-ordinal-group: 5;
        -ms-flex-order: 4;
            order: 4; }
  .medium-order-5 {
    -webkit-box-ordinal-group: 6;
        -ms-flex-order: 5;
            order: 5; }
  .medium-order-6 {
    -webkit-box-ordinal-group: 7;
        -ms-flex-order: 6;
            order: 6; }
  .medium-up-1 {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap; }
    .medium-up-1 > .column, .medium-up-1 > .columns {
      -webkit-box-flex: 0;
          -ms-flex: 0 0 100%;
              flex: 0 0 100%;
      max-width: 100%; }
  .medium-up-2 {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap; }
    .medium-up-2 > .column, .medium-up-2 > .columns {
      -webkit-box-flex: 0;
          -ms-flex: 0 0 50%;
              flex: 0 0 50%;
      max-width: 50%; }
  .medium-up-3 {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap; }
    .medium-up-3 > .column, .medium-up-3 > .columns {
      -webkit-box-flex: 0;
          -ms-flex: 0 0 33.33333%;
              flex: 0 0 33.33333%;
      max-width: 33.33333%; }
  .medium-up-4 {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap; }
    .medium-up-4 > .column, .medium-up-4 > .columns {
      -webkit-box-flex: 0;
          -ms-flex: 0 0 25%;
              flex: 0 0 25%;
      max-width: 25%; }
  .medium-up-5 {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap; }
    .medium-up-5 > .column, .medium-up-5 > .columns {
      -webkit-box-flex: 0;
          -ms-flex: 0 0 20%;
              flex: 0 0 20%;
      max-width: 20%; }
  .medium-up-6 {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap; }
    .medium-up-6 > .column, .medium-up-6 > .columns {
      -webkit-box-flex: 0;
          -ms-flex: 0 0 16.66667%;
              flex: 0 0 16.66667%;
      max-width: 16.66667%; }
  .medium-up-7 {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap; }
    .medium-up-7 > .column, .medium-up-7 > .columns {
      -webkit-box-flex: 0;
          -ms-flex: 0 0 14.28571%;
              flex: 0 0 14.28571%;
      max-width: 14.28571%; }
  .medium-up-8 {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap; }
    .medium-up-8 > .column, .medium-up-8 > .columns {
      -webkit-box-flex: 0;
          -ms-flex: 0 0 12.5%;
              flex: 0 0 12.5%;
      max-width: 12.5%; } }

@media screen and (min-width: 40em) and (min-width: 40em) {
  .medium-expand {
    -webkit-box-flex: 1;
        -ms-flex: 1 1 0px;
            flex: 1 1 0px; } }

.row.medium-unstack > .column, .row.medium-unstack > .columns {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 100%;
          flex: 0 0 100%; }
  @media screen and (min-width: 40em) {
    .row.medium-unstack > .column, .row.medium-unstack > .columns {
      -webkit-box-flex: 1;
          -ms-flex: 1 1 0px;
              flex: 1 1 0px; } }

@media screen and (min-width: 40em) {
  .medium-collapse > .column, .medium-collapse > .columns {
    padding-left: 0;
    padding-right: 0; }
  .medium-uncollapse > .column, .medium-uncollapse > .columns {
    padding-left: 0.9375rem;
    padding-right: 0.9375rem; } }

@media screen and (min-width: 64em) {
  .large-1 {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 8.33333%;
            flex: 0 0 8.33333%;
    max-width: 8.33333%; }
  .large-offset-0 {
    margin-left: 0%; }
  .large-2 {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 16.66667%;
            flex: 0 0 16.66667%;
    max-width: 16.66667%; }
  .large-offset-1 {
    margin-left: 8.33333%; }
  .large-3 {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 25%;
            flex: 0 0 25%;
    max-width: 25%; }
  .large-offset-2 {
    margin-left: 16.66667%; }
  .large-4 {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 33.33333%;
            flex: 0 0 33.33333%;
    max-width: 33.33333%; }
  .large-offset-3 {
    margin-left: 25%; }
  .large-5 {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 41.66667%;
            flex: 0 0 41.66667%;
    max-width: 41.66667%; }
  .large-offset-4 {
    margin-left: 33.33333%; }
  .large-6 {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 50%;
            flex: 0 0 50%;
    max-width: 50%; }
  .large-offset-5 {
    margin-left: 41.66667%; }
  .large-7 {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 58.33333%;
            flex: 0 0 58.33333%;
    max-width: 58.33333%; }
  .large-offset-6 {
    margin-left: 50%; }
  .large-8 {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 66.66667%;
            flex: 0 0 66.66667%;
    max-width: 66.66667%; }
  .large-offset-7 {
    margin-left: 58.33333%; }
  .large-9 {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 75%;
            flex: 0 0 75%;
    max-width: 75%; }
  .large-offset-8 {
    margin-left: 66.66667%; }
  .large-10 {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 83.33333%;
            flex: 0 0 83.33333%;
    max-width: 83.33333%; }
  .large-offset-9 {
    margin-left: 75%; }
  .large-11 {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 91.66667%;
            flex: 0 0 91.66667%;
    max-width: 91.66667%; }
  .large-offset-10 {
    margin-left: 83.33333%; }
  .large-12 {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 100%;
            flex: 0 0 100%;
    max-width: 100%; }
  .large-offset-11 {
    margin-left: 91.66667%; }
  .large-order-1 {
    -webkit-box-ordinal-group: 2;
        -ms-flex-order: 1;
            order: 1; }
  .large-order-2 {
    -webkit-box-ordinal-group: 3;
        -ms-flex-order: 2;
            order: 2; }
  .large-order-3 {
    -webkit-box-ordinal-group: 4;
        -ms-flex-order: 3;
            order: 3; }
  .large-order-4 {
    -webkit-box-ordinal-group: 5;
        -ms-flex-order: 4;
            order: 4; }
  .large-order-5 {
    -webkit-box-ordinal-group: 6;
        -ms-flex-order: 5;
            order: 5; }
  .large-order-6 {
    -webkit-box-ordinal-group: 7;
        -ms-flex-order: 6;
            order: 6; }
  .large-up-1 {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap; }
    .large-up-1 > .column, .large-up-1 > .columns {
      -webkit-box-flex: 0;
          -ms-flex: 0 0 100%;
              flex: 0 0 100%;
      max-width: 100%; }
  .large-up-2 {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap; }
    .large-up-2 > .column, .large-up-2 > .columns {
      -webkit-box-flex: 0;
          -ms-flex: 0 0 50%;
              flex: 0 0 50%;
      max-width: 50%; }
  .large-up-3 {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap; }
    .large-up-3 > .column, .large-up-3 > .columns {
      -webkit-box-flex: 0;
          -ms-flex: 0 0 33.33333%;
              flex: 0 0 33.33333%;
      max-width: 33.33333%; }
  .large-up-4 {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap; }
    .large-up-4 > .column, .large-up-4 > .columns {
      -webkit-box-flex: 0;
          -ms-flex: 0 0 25%;
              flex: 0 0 25%;
      max-width: 25%; }
  .large-up-5 {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap; }
    .large-up-5 > .column, .large-up-5 > .columns {
      -webkit-box-flex: 0;
          -ms-flex: 0 0 20%;
              flex: 0 0 20%;
      max-width: 20%; }
  .large-up-6 {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap; }
    .large-up-6 > .column, .large-up-6 > .columns {
      -webkit-box-flex: 0;
          -ms-flex: 0 0 16.66667%;
              flex: 0 0 16.66667%;
      max-width: 16.66667%; }
  .large-up-7 {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap; }
    .large-up-7 > .column, .large-up-7 > .columns {
      -webkit-box-flex: 0;
          -ms-flex: 0 0 14.28571%;
              flex: 0 0 14.28571%;
      max-width: 14.28571%; }
  .large-up-8 {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap; }
    .large-up-8 > .column, .large-up-8 > .columns {
      -webkit-box-flex: 0;
          -ms-flex: 0 0 12.5%;
              flex: 0 0 12.5%;
      max-width: 12.5%; } }

@media screen and (min-width: 64em) and (min-width: 64em) {
  .large-expand {
    -webkit-box-flex: 1;
        -ms-flex: 1 1 0px;
            flex: 1 1 0px; } }

.row.large-unstack > .column, .row.large-unstack > .columns {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 100%;
          flex: 0 0 100%; }
  @media screen and (min-width: 64em) {
    .row.large-unstack > .column, .row.large-unstack > .columns {
      -webkit-box-flex: 1;
          -ms-flex: 1 1 0px;
              flex: 1 1 0px; } }

@media screen and (min-width: 64em) {
  .large-collapse > .column, .large-collapse > .columns {
    padding-left: 0;
    padding-right: 0; }
  .large-uncollapse > .column, .large-uncollapse > .columns {
    padding-left: 0.9375rem;
    padding-right: 0.9375rem; } }

.shrink {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 auto;
          flex: 0 0 auto;
  max-width: 100%; }

.column.align-top, .align-top.columns {
  -ms-flex-item-align: start;
      align-self: flex-start; }

.column.align-bottom, .align-bottom.columns {
  -ms-flex-item-align: end;
      align-self: flex-end; }

.column.align-middle, .align-middle.columns {
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center; }

.column.align-stretch, .align-stretch.columns {
  -ms-flex-item-align: stretch;
      -ms-grid-row-align: stretch;
      align-self: stretch; }

/**/
@media screen and (max-width: 63.9375em) {
  table.stack thead {
    display: none; }
  table.stack tfoot {
    display: none; }
  table.stack tr,
  table.stack th,
  table.stack td {
    display: block; }
  table.stack td {
    border-top: 0; } }

table.scroll {
  display: block;
  width: 100%;
  overflow-x: auto; }

table.hover thead tr:hover {
  background-color: #f3f3f3; }

table.hover tfoot tr:hover {
  background-color: #ececec; }

table.hover tbody tr:hover {
  background-color: #f9f9f9; }

table.hover tbody tr:nth-of-type(even):hover {
  background-color: #ececec; }

.table-scroll {
  overflow-x: auto; }
  .table-scroll table {
    width: auto; }

.tabs {
  margin: 0;
  list-style-type: none;
  background: #fefefe;
  border: 1px solid #e6e6e6; }
  .tabs::before, .tabs::after {
    content: ' ';
    display: table; }
  .tabs::after {
    clear: both; }

.tabs.vertical > li {
  width: auto;
  float: none;
  display: block; }

.tabs.simple > li > a {
  padding: 0; }
  .tabs.simple > li > a:hover {
    background: transparent; }

.tabs.primary {
  background: #2199e8; }
  .tabs.primary > li > a {
    color: #fefefe; }
    .tabs.primary > li > a:hover, .tabs.primary > li > a:focus {
      background: #1893e4; }

.tabs-title {
  float: left; }
  .tabs-title > a {
    display: block;
    padding: 1.25rem 1.5rem;
    line-height: 1;
    font-size: 0.75rem; }
    .tabs-title > a:hover {
      background: #fefefe; }
    .tabs-title > a:focus, .tabs-title > a[aria-selected='true'] {
      background: #e6e6e6; }

.tabs-content {
  background: #fefefe;
  -webkit-transition: all 0.5s ease;
  transition: all 0.5s ease;
  border: 1px solid #e6e6e6;
  border-top: 0; }

.tabs-content.vertical {
  border: 1px solid #e6e6e6;
  border-left: 0; }

.tabs-panel {
  display: none;
  padding: 1rem; }
  .tabs-panel.is-active {
    display: block; }

.thumbnail {
  border: solid 4px #fefefe;
  -webkit-box-shadow: 0 0 0 1px rgba(10, 10, 10, 0.2);
          box-shadow: 0 0 0 1px rgba(10, 10, 10, 0.2);
  display: inline-block;
  line-height: 0;
  max-width: 100%;
  -webkit-transition: -webkit-box-shadow 200ms ease-out;
  transition: -webkit-box-shadow 200ms ease-out;
  transition: box-shadow 200ms ease-out;
  transition: box-shadow 200ms ease-out, -webkit-box-shadow 200ms ease-out;
  border-radius: 0;
  margin-bottom: 1rem; }
  .thumbnail:hover, .thumbnail:focus {
    -webkit-box-shadow: 0 0 6px 1px rgba(33, 153, 232, 0.5);
            box-shadow: 0 0 6px 1px rgba(33, 153, 232, 0.5); }

.title-bar {
  background: #0a0a0a;
  color: #fefefe;
  padding: 0.5rem; }
  .title-bar::before, .title-bar::after {
    content: ' ';
    display: table; }
  .title-bar::after {
    clear: both; }
  .title-bar .menu-icon {
    margin-left: 0.25rem;
    margin-right: 0.25rem; }

.title-bar-left {
  float: left; }

.title-bar-right {
  float: right;
  text-align: right; }

.title-bar-title {
  font-weight: bold;
  vertical-align: middle;
  display: inline-block; }

.has-tip {
  border-bottom: dotted 1px #8a8a8a;
  font-weight: bold;
  position: relative;
  display: inline-block;
  cursor: help; }

.tooltip {
  background-color: #0a0a0a;
  color: #fefefe;
  font-size: 80%;
  padding: 0.75rem;
  position: absolute;
  z-index: 10;
  top: calc(100% + 0.6495rem);
  max-width: 10rem !important;
  border-radius: 0; }
  .tooltip::before {
    content: '';
    display: block;
    width: 0;
    height: 0;
    border: inset 0.75rem;
    border-color: transparent transparent #0a0a0a;
    border-bottom-style: solid;
    border-top-width: 0;
    bottom: 100%;
    position: absolute;
    left: 50%;
    -webkit-transform: translateX(-50%);
        -ms-transform: translateX(-50%);
            transform: translateX(-50%); }
  .tooltip.top::before {
    content: '';
    display: block;
    width: 0;
    height: 0;
    border: inset 0.75rem;
    border-color: #0a0a0a transparent transparent;
    border-top-style: solid;
    border-bottom-width: 0;
    top: 100%;
    bottom: auto; }
  .tooltip.left::before {
    content: '';
    display: block;
    width: 0;
    height: 0;
    border: inset 0.75rem;
    border-color: transparent transparent transparent #0a0a0a;
    border-left-style: solid;
    border-right-width: 0;
    bottom: auto;
    left: 100%;
    top: 50%;
    -webkit-transform: translateY(-50%);
        -ms-transform: translateY(-50%);
            transform: translateY(-50%); }
  .tooltip.right::before {
    content: '';
    display: block;
    width: 0;
    height: 0;
    border: inset 0.75rem;
    border-color: transparent #0a0a0a transparent transparent;
    border-right-style: solid;
    border-left-width: 0;
    bottom: auto;
    left: auto;
    right: 100%;
    top: 50%;
    -webkit-transform: translateY(-50%);
        -ms-transform: translateY(-50%);
            transform: translateY(-50%); }

.top-bar {
  padding: 0; }
  .top-bar::before, .top-bar::after {
    content: ' ';
    display: table; }
  .top-bar::after {
    clear: both; }
  .top-bar,
  .top-bar ul {
    background-color: #121212; }
  .top-bar input {
    max-width: 200px;
    margin-right: 1rem; }
  .top-bar .input-group-field {
    width: 100%;
    margin-right: 0; }
  .top-bar input.button {
    width: auto; }
  .top-bar .top-bar-left,
  .top-bar .top-bar-right {
    width: 100%; }
  @media screen and (min-width: 40em) {
    .top-bar .top-bar-left,
    .top-bar .top-bar-right {
      width: auto; } }
  @media screen and (max-width: 63.9375em) {
    .top-bar.stacked-for-medium .top-bar-left,
    .top-bar.stacked-for-medium .top-bar-right {
      width: 100%; } }
  @media screen and (max-width: 74.9375em) {
    .top-bar.stacked-for-large .top-bar-left,
    .top-bar.stacked-for-large .top-bar-right {
      width: 100%; } }

.top-bar-title {
  float: left;
  margin-right: 1rem; }

.top-bar-left {
  float: left; }

.top-bar-right {
  float: right; }

.row.rv-rc-controls .columns {
    padding-left: 0px;
    padding-right: 0px;
}

/* Custom CSS */

.replay-control {
  padding: 0px 15px 0px 0px;
  color: #181b22;
  margin-left: auto;
  min-width: 250px;
}
  .replay-control .rv-rc-progress-bar {
    padding: 0px 0px 0px 10px;
    background-color: #181b22;
    height: 40px; }
    .replay-control .rv-rc-progress-bar div #game-slider {
      padding: 0px;
      margin: 15px 0px 0px 0px; }
  .replay-control .rv-rc-timer {
    padding: 0px 0px 0px 0px;
    background-color: #2e2e34;
    font-size: 0.8rem;
    text-align: left;
    color: white; }
  .replay-control .rv-rc-controls {
    padding: 2px 0px 0px 0px;
    background-color: #181b22;
    height: 42px; }
    .replay-control .rv-rc-controls .volume {
      position: relative; }
    .replay-control .rv-rc-controls div .rv-rc-play, .replay-control .rv-rc-controls div .rv-rc-sound, .replay-control .rv-rc-controls div .rv-rc-muted, .replay-control .rv-rc-controls div .rv-rc-pause, .replay-control .rv-rc-controls div .rv-rc-faster, .replay-control .rv-rc-controls div .rv-rc-slower {
      padding: 0px;
      margin: 0px;
      display: block;
      height: 36px;
      width: 36px;
      background-image: url("images/play.svg");
      -webkit-background-size: contain;
              background-size: contain;
      background-repeat: no-repeat; }
    .replay-control .rv-rc-controls div .rv-rc-sound {
      background-image: url("images/speaker.svg"); }
    .replay-control .rv-rc-controls div .rv-rc-muted {
      background-image: url("images/mute.svg"); }
    .replay-control .rv-rc-controls div .rv-rc-pause {
      background-image: url("images/pause.svg"); }
    .replay-control .rv-rc-controls div .rv-rc-faster {
      background-image: url("images/faster.svg"); }
    .replay-control .rv-rc-controls div .rv-rc-slower {
      background-image: url("images/slower.svg"); }
