/*
    DEMO STYLE
*/

@import "https://fonts.googleapis.com/css?family=Poppins:300,400,500,600,700";
body {
    font-family: 'Poppins', sans-serif;
    background: #fafafa;
}

p {
    font-family: 'Poppins', sans-serif;
    font-size: 1.1em;
    font-weight: 300;
    line-height: 1.7em;
    color: #999;
}

a,
a:hover,
a:focus {
    color: inherit;
    text-decoration: none;
    transition: all 0.3s;
}

.navbar {
    padding: 15px 10px;
    background: #fff;
    border: none;
    border-radius: 0;
    margin-bottom: 40px;
    box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.1);
}

.navbar-btn {
    box-shadow: none;
    outline: none !important;
    border: none;
}

.line {
    width: 100%;
    height: 1px;
    border-bottom: 1px dashed #ddd;
    margin: 40px 0;
}

i,
span {
    display: inline-block;
}

/* ---------------------------------------------------
    SIDEBAR STYLE
----------------------------------------------------- */

.wrapper {
    display: flex;
    align-items: stretch;
}

.sidebar-nav {
  background: #7386D5;
  min-width: 400px;
  max-width: 400px;

}

.sidebar-nav.active {
    min-width: 80px;
    max-width: 80px;
    text-align: center;
}

.sidebar-style {
    color: #fff;
    transition: all 0.3s;
}


.sidebar-style.active .sidebar-header h3,
.sidebar-style.active .CTAs {
    display: none;
}

.sidebar-style.active .sidebar-header strong {
    display: block;
}

.sidebar-style ul li a {
    text-align: left;
}

.sidebar-style.active ul li a {
    padding: 20px 10px;
    text-align: center;
    font-size: 0.85em;
}

.sidebar-style.active ul li a i {
    margin-right: 0;
    display: block;
    font-size: 1.8em;
    margin-bottom: 5px;
}

.sidebar-style.active ul ul a {
    padding: 10px;
}

.sidebar-style.active ul ul .sidebar-item-container {
    padding: 10px;
}

.sidebar-style.active .dropdown-toggle::after {
    top: auto;
    bottom: 10px;
    right: 50%;
    -webkit-transform: translateX(50%);
    -ms-transform: translateX(50%);
    transform: translateX(50%);
}

.sidebar-style .sidebar-header strong {
    display: none;
    font-size: 1.8em;
}

.sidebar-style ul.components {
    padding: 20px 0;
    border-bottom: 1px solid #47748b;
}

.sidebar-style ul li a {
    padding: 10px;
    font-size: 1.1em;
    display: block;
}

.sidebar-style ul li a:hover {
    color: #7386D5 !important;
    background: #fff;
}

.sidebar-style ul li a i {
    margin-right: 10px;
}

.sidebar-style ul li.active>a,
a[aria-expanded="true"] {
    color: #fff;
    background: #6d7fcc;
}

a[data-toggle="collapse"] {
    position: relative;
}

.dropdown-toggle::after {
    display: block;
    position: absolute;
    top: 50%;
    right: 20px;
    transform: translateY(-50%);
}

ul ul a {
    font-size: 0.9em;
    background: #47579c;
}

ul ul .sidebar-item-container {
    font-size: 0.9em;
}

ul ul ul a {
    font-size: 0.9em;
    background: #45495d;
}

a.download {
    background: #fff;
    color: #7386D5;
}

a.article,
a.article:hover {
    background: #6d7fcc !important;
    color: #fff !important;
}

/* ---------------------------------------------------
    CONTENT STYLE
----------------------------------------------------- */

.content {
    width: 100%;
    padding-bottom: 0px;
    min-height: 100vh;
    transition: all 0.3s;
}

.content .content-padding {
  padding: 20px;
}

.game-and-controls {
  height:100vh;
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  overflow: hidden;
}

.controls-container {
  width:100%;
  display: flex;
  flex-direction: row;
}

.flex-match-parent {
  flex-grow: 1;
}
/* ---------------------------------------------------
    MEDIAQUERIES
----------------------------------------------------- */

@media (max-width: 768px) {
    .sidebar-style {
        min-width: 80px;
        max-width: 80px;
        text-align: center;
        margin-left: -80px !important;
    }
    .dropdown-toggle::after {
        top: auto;
        bottom: 10px;
        right: 50%;
        -webkit-transform: translateX(50%);
        -ms-transform: translateX(50%);
        transform: translateX(50%);
    }
    .sidebar-style.active {
        margin-left: 0 !important;
    }
    .sidebar-style .sidebar-header h3,
    .sidebar-style .CTAs {
        display: none;
    }
    .sidebar-style .sidebar-header strong {
        display: block;
    }
    .sidebar-style ul li a {
        padding: 20px 10px;
    }
    .sidebar-style ul li a span {
        font-size: 0.85em;
    }
    .sidebar-style ul li a i {
        margin-right: 0;
        display: block;
    }
    .sidebar-style ul ul a {
        padding: 10px;
    }
    .sidebar-style ul li a i {
        font-size: 1.3em;
    }
    .sidebar-style {
        margin-left: 0;
    }
    .sidebar-styleCollapse span {
        display: none;
    }
}

/* Debugger */
#cherryvis-debugger-panel {
  float: right;
}

.flex-basic-row {
  display: flex;
  flex-direction: row;
}

.sidebar-cdb {
  background: #000000;
  min-width: 400px;
  width: 30vw;
}

.sidebar-cdb.active {
    min-width: 80px;
    max-width: 80px;
    text-align: center;
}

.sidebar-cdb .sidebar-header {
    padding: 20px;
    background: #000000;
    padding-bottom: 0px;
}

.sidebar-cdb ul li.active>a,
a[aria-expanded="true"] {
    color: #fff;
    background: #313131;
}

.sidebar-cdb ul ul a {
    font-size: 0.9em;
    padding-top: 5px;
    padding-bottom: 5px;
    background: #424242;
}

.sidebar-cdb ul ul div.sidebar-item-container-pad {
    font-size: 0.9em;
    padding-left: 30px;
    background: #424242;
    margin-left: 0;
    margin-right: 0;
    max-width: 100vw;
}

.sidebar-cdb ul ul div.sidebar-item-container {
    font-size: 0.9em;
    padding-left: 0px;
    background: #424242;
    margin-left: 0;
    margin-right: 0;
    max-width: 100vw;
}

.sidebar-cdb ul ul ul a {
    font-size: 0.9em;
    background: #585858;
}
.sidebar-cdb ul ul ul div.sidebar-item-container {
    background: #585858;
}

.sidebar-cdb ul li a:hover {
    color: #424242 !important;
    background: #d8d8d8;
}

.sidebar-cdb ul.components {
    padding: 20px 0;
    border-bottom: 1px solid #464646;
    padding-top: 0px;
}

.cvis-board-entry {
  font-family: Consolas, monaco, monospace;
  font-size: 0.7rem;
}

.cvis-log-entry {
  font-family: Consolas, monaco, monospace;
  font-size: 0.7rem;
}
.cvis-log-message {
  font-family: Consolas, monaco, monospace;
  font-size: 0.7rem;
  white-space: pre-line;
}

.tensor-name {
  overflow: hidden;
  font-family: 'Poppins', sans-serif;
  color: #b2ef9e;
}

.tensor-value {
  font-family: Consolas, monaco, monospace;
  font-size: 0.8rem;
  overflow: hidden;
}

.cvis-link-frame {
  font-family: Consolas, monaco, monospace;
}

.sidebar-cdb ul ul li.cvis-log-entry .cvis-log-message > a {
  display: inline !important;
  padding: 0px;
}

a.cvis-link-frame {
  color: white !important;
}
a.cvis-frame-past {
  background-color: #a05f5f !important;
}
a.cvis-frame-past :hover {
  background-color: #d85c40 !important;
}
a.cvis-frame-future {
  background-color: #49693f !important;
}
a.cvis-frame-future :hover {
  background-color: #6dbf00 !important;
}
.cvis-frame-past a {
  background-color: #a05f5f !important;
}
.cvis-frame-past a:hover {
  background-color: #d85c40 !important;
}
.cvis-frame-future a {
  background-color: #49693f !important;
}
.cvis-frame-future a:hover {
  background-color: #6dbf00 !important;
}
.logs-list .cvis-frame-past {
    background-color: #5d5353;
}
.logs-list .cvis-frame-past:nth-of-type(2n) {
    background-color: #564c4c;
}
.logs-list .cvis-frame-future {
    background-color: #565d56;
}
.logs-list .cvis-frame-future:nth-of-type(2n) {
    background-color: #4b584b;
}
.no-pad-left {
  padding-left: 0px;
}
.sidebar-cdb ul .pad-cell {
  padding: 10px;
  padding-top: 5px;
  padding-bottom: 5px;
}
.sidebar-cdb {
  min-height: 100vh;
  max-height: 100vh;
  overflow: scroll;
}

.sidebar-cdb ul ul ul .sidebar-item-container:first-child {
    padding-left: 50px;
}

.sidebar-cdb::-webkit-scrollbar {
    display: none;
}

.cvis-board-entry-key {
  overflow: hidden;
  color: #b2ef9e;
}

.cvis-board-entry-val {
  overflow: hidden;
  color: #ffdf49;
}

.cvis-board-table-header {
  font-size: 1rem;
  color: white;
}

.lighten-when-hover:hover {
    background-color: #ffffff59 !important;
    transition: background-color 0.3s;
}

p.cvis-log-message {
  margin-bottom: 3px;
  margin-top: 3px;
  color: #c5c5c5;
}

.cvis-graph-node {
  background-color: #2b5f2c;
  min-height: 50px;
  min-width: 50px;
  padding: 5px;
  border-radius: 3px;
  border: 2px solid #fda245;
  border-bottom-width: 0px;
}

.cvis-draw-tree {
  height: 80vh;
}

.row-no-pad > [class*='col-'] {
    padding-right:0;
    padding-left:0;
}
